* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
     height: 100%;
     width: 100%;
     background-color: black;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    anchor-name: --some-anchor;
    gap: 30px;
}
.box{
    height: 200px;
    width: 200px;
}
.box:hover{
    anchor-name: --some-anchor;
}
.red{
    background-color: rgb(106, 14, 14);
}
.blue{
    background-color: rgb(17, 17, 113);
}
.green{
    background-color: rgb(20, 92, 20);
}

.anchor{
    background-color: rgb(169, 166, 166);
    border-radius: 10px;
    position: absolute;
    top:anchor(top);
    left:anchor(left);
    right:anchor(right);
    bottom:anchor(bottom);
    pointer-events: none;
    position-anchor: --some-anchor;
    transition: all 0.3s linear;
    mix-blend-mode: difference;
}