* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
     height: 100%;
     width: 100%;
     background-color: black;
}
:root{
    --x: 400px;
    --y: 400px;
}
body{
    background-image: url("https://images.unsplash.com/photo-1518098268026-4e89f1a2cd8e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}
.box{
    height: 100%;
    width: 100%;
    background: radial-gradient(120px at var(--x) var(--y),rgba(225, 218, 218, 0.094) 0%, rgba(6, 6, 8, 0.865)80%);
}